DAL2012/Assets/TK2DROOT/
DAL2012/Assets/TK2DROOT.meta
*.DS_Store
DAL2012/Assembly-CSharp.pidb
DAL2012/DAL2012.userprefs
DAL2012/Library/AssetVersioning.db
DAL2012/library/expandedItems
DAL2012/Library/guidmapper
DAL2012/Library/cache/
DAL2012/Library/metadata/
DAL2012/Library/previews/
DAL2012/Library/AnnotationManager
DAL2012/Library/AssetImportState
DAL2012/Library/AssetServerCacheV3
DAL2012/Library/ScriptMapper
DAL2012/Temp/
DAL2012/Library/assetDatabase3